body {
  background-color:rgba(115, 170, 36, 0.8); /* 根据你的需求设置背景颜色 */
  /* min-height: 100vh; */
  /* min-height: -webkit-fill-available; */
  /* overflow: hidden; */
  padding-bottom: 76px;
}
html{
  /* background-color: white; */
}
@media (min-width:769px) {
  body{
    padding-bottom: 0px;
  }

}